In [ ]:
list= [5,3,0,-6,-1,2,11,10]
print(list)

[5, 3, 0, -6, -1, 2, 11, 10]

In [ ]:
for i in list:
  if i < 0:
    print("negetive")
  elif i > 0:
    print("positive")
  else:
    print("zero")

positive
positive
zero
negetive
negetive
positive
positive
positive

In [ ]:
for i in list:
  if i % 2 == 0:
    print("Even")
  else:
    print("Odd")

Odd
Odd
Even
Even
Odd
Even
Odd
Even

In [ ]:
for i in list:
  if i > 10:
    print("Greater than 10")
  elif i <10:
    print("Less than 10")
  else:
    print("Exactly 10")

Less than 10
Less than 10
Less than 10
Less than 10
Less than 10
Less than 10
Greater than 10
Exactly 10

In [ ]:
for i in list:
  x= i**2
  print(x)

25
9
0
36
1
4
121
100

In [ ]:
print(list)

[5, 3, 0, -6, -1, 2, 11, 10]

In [ ]:
sum = 0
for i in list:
  sum += i
print(sum)

24